body{
    font-family: 'Times New Roman', Times, serif;
    background-color:#9FA1FF
}
h1{
    text-align: center;
    color: black;
}
form{
   margin: auto;
   width: 650px;
}
fieldset{
    background-color:white;
    
   
}
label{
    display: block;
    margin-top: 10px;
}
.button{
    text-align: center;
}
#reset{
    color:white;
    background-color: blue;
    width: 120px;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
}
#submit{
    color:white;
    background-color: blue;
    width: 120px;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
}